body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: auto;
    width: 100%;
    text-align: center;
}
.cardcontainer{
    box-sizing: border-box;
    max-width: 1000px;
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
}
.cardimage{
    display: inline-block;
    height: auto;
    width: 250px;
    background-color: rgba(0,0,0,0.1);
    margin: 0px 35px 40px 35px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.size{
    height: 140px;
    width: 100%;
}
.cardInfoBtn{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.viewBtn{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    background-color: #3498db;
}


@media screen and (max-width: 1017px){
    .cardcontainer{
        width: 90%;
        justify-content: space-around;
    }
    .cardimage{
        margin-right: 0px;
    }
}

@media screen and (max-width: 600px){
    .cardimage{
        margin-left: 0px;
    }
}

@media screen and (max-width:350px){
    .cardcontainer{
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}